
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'Times New Roman', sans-serif;
    overflow-x: hidden;
  
}

#bg-img{
    width: 100%;
    z-index: -1;
    position: absolute;

}
#correct-guess{
    position: fixed;
    z-index: 6;
    top: 7em;
    left: 50%;
    padding: 0.5em 1em;
    background-color: chartreuse;
    color: white;
    transition-delay: 2s;
    transition: all 2s ease-in-out;
    transform: translate(-50%, -50%);
}

#bad-guess{
    position: fixed;
    z-index: 5;
    top: 7em;
    left: 50%;
    padding: 0.5em 1em;
    background-color:orangered;
    color: white;
    transform: scale(0.8);
    transition: all 2s ease-in-out;
    transform: translate(-50%, -50%);
}

