#guess-div{
    color: white;
    position: absolute;
    background-color: rgb(44,12,60, 0.6);
    border: 2px solid white;
    text-align: center;
    transition-duration: 2s;
}

.guess-name{
    padding: 0.5em 1em;
    transition-duration: 1s;
}

.guess-name:hover{
    background-color: #563d38;
}
.found-name{
    display: none;
}

.scale-up-animation {
	-webkit-animation: scale-up-key 0.2s linear both;
	        animation: scale-up-key 0.2s linear both;
}
 @-webkit-keyframes scale-up-key {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-key {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  