.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em;
    position: fixed;
    background: rgb(44,12,60);
    background: linear-gradient(180deg, rgba(44,12,60,0.9220063025210083) 20%, rgba(123,108,130,0.6839110644257703) 90%, rgba(255,255,255,0) 100%);
    color: white;
    height: 5em;
    width: 100%;
}
.navigation > *{
    flex: 1 1 0px;
}

.nav-header{
    font-size: 1.5rem;
    flex-grow: 1;
}
.nav-img{
    display: flex;
    padding-right: 1em;
    flex-grow: 1.5;
    justify-content: flex-end;;
    height: 100%;
}
.timer{
    flex-grow: 1;
    font-size: 1.5em
}

.nav-img > img {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain; 
}
.nav-img > img:hover{
    scale: 1.2;
    transition-duration: 0.5s;
}
.spider{
    transform: scale(1.5);
}
#char-name{
    letter-spacing: 0.2em;
    color: red
}
.bw-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media only screen and (min-width: 500px){
    .spider{
        transform: scale(1);
    }
}